<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <div class="meetup">
        <div class="title">
          <%= @meet.title %>
        </div>
        <div class="info">
          <%= @meet.info %>
        </div>
        <% @comments.each do |comment| %>
          <%= render @meet.comments %>
        <% end %>
      </div>
    </div>
    <div class="col-md-2">
      <button class="button"><%= link_to "Edit", edit_meet_path(@meet) %></button>
      <button class="button"><%= link_to "Delete", meet_path(@meet), method: :delete, data: { confirm: "Are you sure?" } %></button>
    </div>
  </div>
</div>
